// Make sure the charset is set appropriately
@charset 'UTF-8';

// Variables
$msd-green: #00918f;
$msd-purple: #bea0d4;
$msd-purple-text: #510876;
$msd-text: #333;
$grey-font: #919191;
$side-gutter: 28px;

body {
	background: #f0f0f0;
	font-family: 'Arial';
	font-size: 14px;
	margin: 0;
	padding: 24px;

	p {
		margin: 12px 0;
	}

	.container {
		margin: 0 auto;
		max-width: 650px;
		width: 100%;
	}

	.view_online {
		margin: 12px 0 8px;
		text-align: right;
		width: 100%;

		td {
			text-align: right;

			a {
				color: $grey-font;
				text-decoration: underline;
			}
		}
	}

	.news_container {
		background: white;
		width: 100%;

		img {
			max-width: 100%;
		}

		.top {
			border-bottom: 1px solid $msd-green;
			padding: 0 $side-gutter;
			width: 100%;

			.left {
				width: 50%;
			}
			.right {
				text-align: right;
				width: 50%;

				a {
					color: $grey-font;
					font-size: 18px;
					font-style: italic;
					font-weight: bold;
					text-decoration: none;
				}
			}
		}
		
		.title {
			padding: 56px $side-gutter $side-gutter;

			h1 {
				color: $msd-purple-text;
				font-weight: normal;
				font-size: 26px;
				margin: 0;
				mso-line-height-rule: exactly;
			}
		}

		.article_image {
			
			img {
				width: 100%;
			}
		}

		.link_buttons {
			padding: $side-gutter;

			td {
				padding: 0 $side-gutter;
				text-align: center;
			}
		}

		.news_content {
			padding: 0 $side-gutter;
			
			h2 {
				color: $msd-purple-text;
				font-size: 22px;
				margin: 0 0 8px;
				mso-line-height-rule: exactly;

				span {
					font-weight: normal;
				}
			}

			p {
				color: $msd-text;
				line-height: 1.4;
				margin-top: 0;
			}
		}

		.signature {
			padding: 42px $side-gutter;
			width: 100%;

			td {
				padding: 0;
				vertical-align: top;
				width: 50%;

				&.right {
					text-align: right;

					img {
						max-height: 120px;
						width: auto;
					}
				}
			}

			span {
				display: block;
				margin-bottom: 4px;

				&.main {
					color: $msd-purple-text;
					font-size: 18px;
					font-style: italic;
					font-weight: bold;
					margin-bottom: 12px;
				}

				&.name {
					text-transform: uppercase;
				}
			}
		}

		.instructions {
			color: $msd-text;
			margin-bottom: $side-gutter;
			padding: 0 16px;
			
			.prescription {
				border-bottom: 1px solid $msd-purple;
				font-size: 13px;
				padding: 0 16px 12px;
				margin-bottom: 12px;
				
				.attention {
					display: block;
					font-size: 18px;
					font-weight: bold;
					margin-bottom: 2px;
				}
			}

			.facts {
				font-size: 13px;

				p {
					line-height: 1.25;
				}
			}

			.reimbursement_code {

				tbody {

					tr {
						
						th {
							border-width: 1px 1px 1px 0;
							border-style: solid;
							border-color: $msd-text;
							font-style: italic;
							font-weight: bold;
							padding: 5px 32px;
							text-align: left;

							&:first-child {
								padding-left: 0;
							}
							&:last-child {
								border-right-width: 0;
							}
						}

						td {
							border-width: 0 1px 1px 0;
							border-style: solid;
							border-color: $msd-text;
							padding: 5px 32px;

							&:first-child {
								padding-left: 0;
							}
							&:last-child {
								border-right-width: 0;
							}
						}
					}
				}

				tfoot {

					tr td {
						padding: 8px 0;

						&:last-child {
							padding: 8px 32px;
						}
					}
				}
			}

			.dates {
				width: 100%;

				tr {

					td.right {
						width: 34%;
					}
				}
			}
		}

		.contact {
			padding: 0 $side-gutter;

			img {
				margin-right: 24px;
			}

			p {
				color: $msd-text;
				font-size: 14px;
				line-height: 1.25;
			}
		}

		.footer {
			background: $msd-green;
			color: white;
			font-size: 13px;
			padding: 10px $side-gutter;

			.links {
				width: 100%;

				tr {

					td {
						font-weight: bold;
						text-align: center;

						&:first-child {
							text-align: left;
						}

						a {
							color: white;
							text-decoration: underline;
						}
					}
				}
			}

			.last {
				width: 100%;

				tr {

					td {

						&.right {
							color: $msd-text;
							font-weight: bold;
							text-align: right;
							width: 30%;
						}
					}
				}
			}
		}
	}
}
